@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

@layer base {
  html {
    /* fix framer-motion bug of expanding screen*/
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    /* @apply hidden;*/
  }
  body {
    /* fix framer-motion bug of expanding screen*/
    overflow-x: hidden;
    /* fix framer-motion bug of expanding screen*/
    position: relative;
    scroll-behavior: smooth;
    @apply overflow-x-hidden relative scroll-smooth;
  }

  /* 
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_slnt,wght.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "FiraCode";
    src: url("/fonts/FiraCode-VariableFont_wght.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Satisfy";
    src: url("/fonts/Satisfy-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  } */

  /* .section {
    @apply min-h-screen w-[70vw] md:w-[80vw] flex justify-center items-center z-20;
  } */

  .section {
    @apply  flex flex-col justify-center items-center z-20 min-h-screen mb-10 scroll-smooth;
  }

  .selected {
    @apply text-teal-400;
  }

  .verticalLine {
    @apply after:block after:mt-5 after:h-[90px] after:w-[1px] after:mx-auto after:bg-white;
  }

  .verticalMode {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }

  .socialIcons {
    @apply w-5 h-5 cursor-pointer hover:dark:text-teal-400 hover:-translate-y-0.5 transition duration-100 ease-in;
  }

  .swiper .swiper-pagination-bullet {
    @apply bg-teal-400;
  }

  .timeline-container {
    @apply relative pt-2 md:w-1/2 md:ml-auto md:pl-16;
  }
  .timeline-container-left {
    @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16;
  }
  .timeline-pointer {
    @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45  dark:bg-slate-800 opacity-40 sm:hidden md:inline-flex sm:top-11 sm:left-28 md:left-14;
  }
  .timeline-pointer-left {
    @apply md:left-auto md:right-14;
  }

  .fp-nav div div div {
    background-color: teal !important;
    width: 0.5rem !important;
    height: 0.5rem !important;
  }
}
